<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-location-enhaced" version="1.0.0" xmlns="http://cordova.apache.org/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaLocationEnhaced</name>
    <js-module name="CordovaLocationEnhaced" src="www/CordovaLocationEnhaced.js">
        <clobbers target="cordova.plugins.CordovaLocationEnhaced" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaLocationEnhaced">
                <param name="android-package" value="com.yourcompany.cordova.locationenhaced.CordovaLocationEnhaced" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>
        <source-file src="src/android/CordovaLocationEnhaced.java" target-dir="src/com/yourcompany/cordova/locationenhaced" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaLocationEnhaced">
                <param name="ios-package" value="CordovaLocationEnhaced" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>This app needs your location to provide features based on your current position.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>This app needs your location to provide features even when the app is in the background.</string>
        </config-file>
        <source-file src="src/ios/CordovaLocationEnhaced.swift" />
    </platform>
</plugin>